.view-invoices {
  width: 100%;
}

.view-invoices h2 {
  text-align: center;
  margin-bottom: 20px;
}

.calendar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.react-calendar {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: #fff;
  padding: 10px;
}

.react-calendar__navigation {
  display: flex;
  margin-bottom: 10px;
}

.react-calendar__navigation button {
  color: #1ec868;
  background: none;
  font-size: 16px;
  margin-top: 8px;
  border: none;
  cursor: pointer;
}

.react-calendar__navigation button:disabled {
  color: #ccc;
}

.react-calendar__month-view__weekdays {
  font-size: 14px;
  color: #666;
  display: flex;
  justify-content: space-around;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 10px;
  background: #f0f2f5;
  border-bottom: 1px solid #ddd;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  color: #333;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6f7ff;
  border-color: #1ba0f4;
  color: #0056b3;
}

.react-calendar__tile--active {
  background: #007bff;
  color: white;
  border-radius: 50%;
}

.react-calendar__tile--now {
  background: #ffbdbd;
  color: white;
  border-radius: 50%;
}

.react-calendar__tile--highlight {
  background: #ffeb3b;
  color: black;
  border-radius: 50%;
}

.invoice-list {
  width: 100%;
}

.invoice-list h3 {
  text-align: center;
  margin-bottom: 20px;
}

.invoice-list p {
  text-align: center;
  font-size: 1.2em;
  color: #888;
}

.invoice-list table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.invoice-list th,
.invoice-list td {
  border: 1px solid #ddd;
  padding: 8px;
}

.invoice-list th {
  background-color: #f2f2f2;
  text-align: left;
}

.invoice-list td {
  text-align: center;
}

.invoice-list button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.invoice-list button:hover {
  background-color: #0056b3;
}

.invoice-list button:active {
  background-color: #004494;
}

.options {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.options button {
  margin: 0 10px;
}
